<div id="footer">
  <div id="socials">
    <div class="social">
      <img src="../../assets/whatsapp.jpg" alt="whatsapp" />
      <span class='social-info'>00-352-621-967-566</span>
    </div>
    <div class="social">
      <img (click)='goToInstagram()' class='clickable' src="../../assets/instagram.jpg" alt="instagram" />
      <a href='https://www.instagram.com/nemisnight/' class='social-info'>@nemisnight</a>
    </div>
  </div>
  <header>CONTACT</header>
  <form action="https://localhost/contact" method="post" id="contact">
    <label for="email">Email:</label><br />
    <input type="email" required name="email" /><br />
    <label for="firstName">First name:</label><br />
    <input type="text" name="firstName" required /><br />
    <label for="familyName">Family name:</label><br />
    <input type="text" required name="familyName" /><br />
    <label for="message">Message:</label><br />
    <textarea name="message" cols="30" rows="5"></textarea><br />
    <button class='clickable' id='submitBtn' type="submit">Send</button>
  </form>
</div>
