<div id="footer">
  <div id="socials">
    <div class="social">
      <img src="../../assets/whatsapp.jpg" alt="whatsapp"> <span>whatsapp her</span>
    </div>
    <div class="social">
      <img src="../../assets/instagram.jpg" alt="instagram"> <span>insta here</span>
    </div>
    <div class="social">
      <img src="../../assets/facebook.jpg" alt="facebook"> <span>facebook here</span>
    </div>
  </div>
  <form action="server domain here" method='post' id='contact'>
    <label for="email">Email:</label><br>
<input type="email" required name='email'><br> 
<label for="firstName">First name:</label><br>
<input type="text" name='firstName' required><br>
<label for="familyName">Family name:</label><br>
<input type="text" required name='familyName'><br>
<label for="message">Message:</label><br>
<textarea name="message" cols="30" rows="5"></textarea><br>
<input type="submit" value='Send'>
  </form>
</div>
