a#cart-link {
  position: sticky;
  top: 87vh;
  left: 95vw;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: var(--clickable-main);
  border: 1px solid var(--clickable-main);
  border-radius: 5px;
  display: flex;
}

a#cart-link > img {
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  color: var(--accent-main);
}

div#products-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

div#products-flex table {
  margin-top: 10vh;
  margin-left: 2vw;
  padding: 1vh 1.5vw;
  width: 80vw;
  text-align: center;
  border: 1px solid var(--accent-main);
  border-radius: 8px;
}

div#products-flex table img {
  padding: 2vh 3vw;
  width: 24vw;
  height: 16vw;
  object-fit: contain;
}

div#products-flex table .imgControls {
  display: block;
  margin-bottom: 1vh;
}

div#products-flex table .altImg {
  display: inline;
  padding: 1vh 1.5vw;
  margin: none;
  color: var(--clickable-main);
  border: 1px solid var(--clickable-main);
  border-radius: 50px;
  transition: all 0.5s;
}

div#products-flex table .altImg:hover {
  background-color: var(--clickable-main);
  color: white;
  transition: all 0.5s;
}

div#products-flex table .nextImg {
  margin-left: 1vw;
}

@media only screen and (min-width: 1200px) {
  div#products-flex table {
    font-size: 75%;
    margin-left: 4vw;
    width: 40vw;
    text-align: center;
  }

  div#products-flex table img {
    padding: 1vh 1.5vw;
    width: 12vw;
  }
}

#info-cell {
  padding-left: 3vw;
  display: inline;
}

input {
  font-size: 90%;
  border-color: var(--clickable-main);
  color: var(--clickable-main);
  width: 4vw;
  text-align: center;
}

input.item-quantity {
  border-radius: 8px;
  margin-right: 8px;
}

@media screen and (max-width: 1000px) {
  input.item-quantity {
    width: 8vw;
  }
}

.addToCart {
  border: 1px solid black;
  border-radius: 8px;
  font-size: 90%;
  font-weight: bold;
  color: var(--clickable-main);
  text-decoration: none;
  transition: all 0.5s;
}

.addToCart:hover {
  background-color: var(--clickable-main);
  color: white;
  text-decoration: underline;
  transition: all 0.5s;
}

div#checkout-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

div#checkout {
  margin-left: 25vw;
  width: 40vw;
  height: max-content;
  padding: 5vh 5vw;
  border: 2px solid var(--clickable-main);
  border-radius: 5px;
  background-color: white;
}

.cart-item {
  font-size: 75%;
}

#total {
  font-size: 80%;
}

#buttons {
  display: flex;
}

#buttons > * {
  border: 1px solid var(--clickable-main);
  border-radius: 5px;
  margin-right: 1vw;
  font-size: 90%;
}

#checkoutBtn {
  align-content: flex-start;
  font-weight: bold;
  color: var(--clickable-main);
  text-decoration: none;
  transition: all 1s;
}

#checkoutBtn:hover {
  background-color: var(--clickable-main);
  color: white;
  text-decoration: underline;
  transition: all 1s;
}

.otherBtn {
  align-content: flex-end;
  color: var(--clickable-main);
  text-decoration: none;
  transition: all 1s;
}

.otherBtn:hover {
  background-color: var(--clickable-main);
  color: white;
  text-decoration: underline;
  transition: all 1s;
}
