:root {
  --clickable-main: black;
  --accent-main: black;
}

* {
  font-family: "Roboto";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 3vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clickable-main);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--clickable-main);
}

.clickable:hover {
  cursor: pointer;
}
